{% extends "hyde/templates/index.html" %}

{% block content %}
<h1>
    Welcome!
<h1>
    <h4>
        The content is broken down to these sections:
    </h4>
       <div class="posts">
       <ul>
        {% for subsection in section.subsections %}
          <li class="post-title">
              <a href="{{ subsection | split(pat="/") | nth(n=0) }}">
                {{ subsection | split(pat="/") | nth(n=0) }}
              </a>
          </li>
        {% endfor %}
       </ul>
       </div>
    <h4>
        All mistakes are my own, all good ideas someone would have invented already.
    </h4>

    <h4>
        This site uses <a href="https://www.getzola.org/">Zola</a>, the <a href="https://www.getzola.org/themes/hyde/">Hyde</a> theme and the <a href="https://fonts.google.com/specimen/Asul?selection.family=Asul:wght@700">Asul</a> font.
    </h4>

{% endblock %}
